body {
  font-family: "Poppins", sans-serif;
  background-image: url(/assets/img/background.jpeg);
  background-size: 100px auto;
}

.overlay {
  background: rgba(0, 0, 0, 0.5); /* Capa oscura */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 1);
  z-index: 999999;
}

.header__logo {
  z-index: 10;
  width: 30%;
  max-width: 6.4rem;
  min-width: 5rem;
}

.header__navbar {
  display: none;
  .header__navbar-list {
    display: flex;
    gap: 1rem;
  }
  .header__navbar-item:hover {
    color: var(--color-accent);
  }
}

.menu.btn {
  position: relative;
}

.header__menu {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: end;
  .header__label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 35px;
    span {
      width: 100%;
      height: 4px;
      border: solid 1.4px #bf2821;
      border-radius: 0.1rem;
      background-color: var(--color-accent);
    }
  }
  .header__checkbox {
    position: absolute;
    visibility: hidden;
  }
  .header__checkbox:checked + .header__sidebar {
    transform: translateX(0);
  }
  .header__sidebar {
    position: absolute;
    top: -0.5rem;
    width: 50vw;
    height: 101vh;
    right: 50%;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2.5rem;
    z-index: 20;
    transform: translate(-100%);
    transition: all 0.3s ease;
    background-color: #000000;
    .header__sidebar-title {
      font-size: x-large;
      color: #bf2821;
      -webkit-text-stroke: 0.3px yellow;
    }
    .header__sidebar-navbar-list {
      display: flex;
      flex-direction: column;
      font-weight: bold;
      color: var(--color-text);
      gap: 3rem;
      a {
        font-size: small;
      }
    }
    .header__sidebar-navbar-list-item:hover {
      color: var(--color-accent);
    }
  }
}

.hero {
  padding-top: 3rem;
  height: 100vh;
  overflow: hidden;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  position: relative;
  border-bottom: #000000 solid 4px;
}

.hero__header {
  width: 100%;
  margin: 0 auto;
}

.hero__title {
  margin-bottom: 10px;
  text-align: center;
  color: #bf2821;
  font-size: xx-large;
  -webkit-text-stroke: 0.5px yellow;
}

.hero__tagline {
  text-align: center;
  color: #bf2821;
  font-size: medium;
  -webkit-text-stroke: 0.2px yellow;
}

.hero__bg-image {
  justify-items: center;
  img {
    width: 85%;
    max-width: 300px;
    /* max-width: 272px; */
    margin: 0 auto;
    filter: brightness(90%);
  }
}

.hero__message {
  width: 80px;
  position: absolute;
  left: 5%;
  bottom: 5%;
  text-align: center;
  font-size: small;
  color: var(--color-accent);
  animation: moveUpDown 2s 5;
  p {
    font-size: smaller;
  }
  span {
    display: block;
    font-size: x-large;
  }
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0); /* posición inicial */
  }
  50% {
    transform: translateY(-10px); /* mueve hacia arriba */
  }
  100% {
    transform: translateY(0); /* vuelve a la posición inicial */
  }
}
.about {
  padding-top: 3rem;
}
