.content {
  height: 100dvh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  background-color: #000;
}

.content__title-background {
  position: absolute;
  top: 20%;
  left: 50%;
  letter-spacing: 0.3rem;
  transform: translate(-50%, -50%);
  p {
    font-size: 6rem;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: #ffffff;
    filter: brightness(18%);
  }
}

.content__title-front {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  margin-top: 10rem;
  p {
    font-size: 14rem;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: #a7a7a7;
    filter: brightness(75%);
  }
}

.content__title-front-image {
  filter: invert(1) brightness(2);
  width: 32%;
}

.content__title-front-absolute {
  width: 35%;
  position: absolute;
  right: 15%;
  filter: brightness(110%) saturate(115%);
}

.content__description {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin-top: 3rem;
}

.content__do-not-cross {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 2rem;
  filter: brightness(90%) saturate(155%);
  border-bottom: #8f8f8f solid 0.8px;
  border-top: #fff solid 0.8px;
  background: linear-gradient(to top, #dfb302 0%, #fee371 100%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
}

.content__description-text {
  color: #000;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.1rem;
  font-weight: bolder;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#first {
  z-index: 10;
}

#second,
#third,
#fourth {
  display: none;
}

.content__button {
  margin: 0 auto;
  margin-top: 4rem;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 10rem;
    color: #fff;
    font-weight: bolder;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    background-color: #bf2821;
    transition: all 0.5s ease-in-out;
  }
  a:hover {
    color: #000;
    background-color: #ffd700;
  }
}
