#about {
  gap: 3rem;
}

.about__content {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.about__conteiner-ctas {
  border-radius: 0.3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
