.about {
  position: relative;
  z-index: 1;
  padding-top: 3rem;
  height: 100dvh;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: space-around;
  background-color: #000;
}

.about__title {
  font-size: 2.5rem;
  text-align: center;
  color: #bf2821;
  -webkit-text-stroke: 1px #ffd700;
}

.about__content {
  margin: 0 2rem;
  line-height: 1.5;
  color: #fff;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.about__conteiner-ctas {
  border-radius: 0.3rem;
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
}

.about__cta {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  height: 50px;
  width: 150px;
  color: #fff;
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 0.5rem;
  background-color: #bf2821;
  transition: all 0.5s ease-in-out;
}

.about__cta:hover {
  color: #000;
  background-color: #ffd700;
}
