.analytics {
  position: relative;
  z-index: 1;
  padding-top: 3rem;
  height: 100dvh;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: start;
  background-color: #000;
}

.analytics__title {
  margin: 1rem;
  font-size: 2.5rem;
  text-align: center;
  color: #bf2821;
  -webkit-text-stroke: 1px #ffd700;
}

.analytics__content {
  margin: 0 2rem;
  height: 75%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: start;
}

.analytics__description {
  line-height: 1.2;
  color: #fff;
  padding-bottom: 1rem;
}

.analytics__list {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.analytics__list-item {
  width: 100%;
  height: 25%;
  display: flex;
  gap: 0.2rem;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  border-radius: 0.2rem;
}

.analytics__label-list-item {
  font-size: 0.85rem;
  font-weight: bolder;
  line-height: 1.2;
  color: #fff;
}

.analytics__container-progress-bar {
  width: 100%;
  height: 1.5rem;
  padding: 0 0.5rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  background-color: #bf2821;
}

.container {
  width: 100%;
  height: 50%;
  padding: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  border: #ffd700 solid 1px;
  border-radius: 0.3rem;
}

.analytics__progress-bar {
  height: 100%;
  border-radius: 0.3rem;
  background-color: #ffd700;
}

#first {
  width: 98%;
}
#second {
  width: 85%;
}
#third {
  width: 99%;
}
#fourth {
  width: 80%;
}
.analytics__conteiner-ctas {
  margin-top: 1rem;
  border-radius: 0.3rem;
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
}

.analytics__cta {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  height: 40px;
  width: 150px;
  color: #fff;
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 0.5rem;
  background-color: #bf2821;
  transition: all 0.5s ease-in-out;
}

.analytics__cta:hover {
  color: #000;
  background-color: #ffd700;
}
