/* #analytics {
  gap: 3rem;
} */

.analytics__list {
  padding: 0 2rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.analytics__list-item {
  width: 100%;
  display: flex;
  gap: 0.3rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}

.analytics__container-progress-bar {
  width: 100%;
  height: 1.5rem;
  padding: 0 0.5rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  background-color: #bf2821;
}

.container {
  width: 100%;
  height: 50%;
  padding: 0;
  border: #ffd700 solid 1px;
  border-radius: 0.3rem;
}

.analytics__progress-bar {
  height: 100%;
  border-radius: 0.3rem;
  background-color: #ffd700;
}

#first {
  max-width: 98%;
  animation: fillProgress 1.5s ease-in-out forwards;
}
#second {
  max-width: 85%;
  animation: fillProgress 2.5s ease-in-out forwards;
}
#third {
  max-width: 99%;
  animation: fillProgress 2s ease-in-out forwards;
}
#fourth {
  max-width: 80%;
  animation: fillProgress 1.8s ease-in-out forwards;
}

.analytics__conteiner-ctas {
  border-radius: 0.3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@keyframes fillProgress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
