main {
  background-image: url("../img/background.jpeg");
  background-size: 150px;
  background-repeat: repeat;
  position: relative;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: -1;
}

.hero {
  padding-top: 3rem;
  overflow: hidden;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.hero__text-container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.hero__cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: #0000009d;
}

.checkbox {
  display: none;
}

.checkbox:checked ~ .hero__container-video {
  position: relative;
}

.checkbox:checked + label {
  display: none;
}

.hero__container-video {
  display: flex;
  justify-content: center;
  align-items: start;
  position: absolute;
  animation: slideFadeIn 2s linear;
  iframe {
    z-index: 10;
    height: 100%;
    width: 100%;
  }
}

.crimes {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.crimes__container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3rem;
  padding: 2rem 0;
}

.crimes__crime {
  width: 80%;
  margin: 0 auto;
  padding: 0.8rem;
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 0.3rem;
  filter: brightness(90%);
  animation: fadeIn linear;
  animation-timeline: view(80% 0);
  background-color: #bf2821;
}

.crime_image {
  height: 80%;
  img {
    width: 100%;
    border: solid 1px #000;
    border-radius: 0.3rem;
  }
}

.crime__info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.crime__info-item {
  padding: 0.2rem 0.5rem;
  border: 0.5px solid #ffffff6a;
  border-radius: 0.5rem;
  span {
    color: #ffffff6a;
    font-weight: bold;
  }
}

.crime__summary {
  color: #fff;
  line-height: 1.5;
  font-size: 0.8rem;
}

@keyframes slideFadeIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    scale: 0.5;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
