#footer {
  gap: 1rem;
  height: 25dvh;
  align-self: center;
}

.footer__social-media-list {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  .icon {
    width: 1.8rem;
    fill: #fff;
    transition: 0.3s ease-in-out;
  }
  .icon:hover {
    fill: #ffd700;
  }
}

#footer .text {
  font-size: 0.85rem;
  text-align: center;
  opacity: 0.5;
  transition: 0.3s ease-in-out;
}

#footer .text:hover {
  opacity: 1;
}

.footer__important-links {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
