.footer {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem 1rem;
  background-color: #000;
}

.footer__social-media-list {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  .icon {
    width: 1.5rem;
    fill: #fff;
    transition: 0.3s ease-in-out;
  }
  .icon:hover {
    fill: #ffd700;
  }
}

.footer__info-company,
.footer__important-links a {
  color: #a1a1a1;
  font-size: 0.75rem;
  transition: 0.3s ease-in-out;
}

.footer__important-links a:hover {
  color: #fff;
}

.footer__info-company:hover {
  color: #fff;
}

.footer__important-links {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
