.footer {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  padding-top: 0;
  padding-bottom: 1.5rem;
  border-top: solid 1px #a1a1a1;
  background-color: #000;
}

.footer__navbar-list {
  display: flex;
  gap: 0.75rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  .arrow {
    fill: #a1a1a1;
    transition: 0.3s ease-in-out;
  }
  a {
    font-size: 0.75rem;
    color: #fff;
    transition: 0.3s ease-in-out;
  }
  a:hover {
    color: #ffd700;
  }
  .arrow:hover {
    fill: #fff;
  }
}

.footer__social-media-list {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  .icon {
    width: 1.5rem;
    fill: #fff;
    transition: 0.3s ease-in-out;
  }
  .icon:hover {
    fill: #ffd700;
  }
}

.footer__info-company,
.footer__important-links a {
  color: #a1a1a1;
  font-size: 0.75rem;
  transition: 0.3s ease-in-out;
}

.footer__important-links a:hover {
  color: #fff;
}

.footer__info-company:hover {
  color: #fff;
}

.footer__important-links {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
