.overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url("../img/background-hero-1.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  filter: blur(0.6px);
}

.hero {
  gap: 0;
  justify-content: space-around;
  height: 100dvh;
}

.hero__image {
  width: 55%;
  margin: 0 auto;
  img {
    filter: brightness(82%);
  }
}

.hero__message {
  margin: 0 2rem;
  padding: 1rem;
  border-radius: 0.3rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.788);
}

.text {
  opacity: 0.5;
  font-weight: bolder;
}

.hero__container {
  width: 100%;
  border-radius: 0.3rem;
  border: solid 1px var(--color-secondary-500);
  display: flex;
  align-items: center;
  margin: 0 1rem;
  padding: 0.3rem;
  overflow: hidden;
  background-color: rgba(138, 41, 36, 0.808);
  .text {
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-secondary-400);
    animation: moveToLeft 30s linear infinite;
  }
}

@keyframes moveToLeft {
  0% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-150%);
  }
}
